@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
    <section class="contact-section pad60">
        <div class="container d-flex">
            <div class="form-col">
                <form id="contact" action="#" method="post">
                    <h3>@Model.Value("toAsk")</h3>
                    <div class="br-line"></div>
                    <br>
                    <div class="fst-col">
                        <input placeholder="@Model.Value("namePlaceHolder")" id="name" name="name" onkeypress="return Validate(event);"
                            required>
                        <input placeholder="@Model.Value("emailPlaceHolder")" type="email" id="email" name="email" tabindex="2" required>
                    </div>
                    <div class="sec-col">
                        <input placeholder="@Model.Value("subjectPlaceHolder") " id="subject" name="subject" tabindex="4" required>
                    </div>
                    <div class="third-col">
                        <textarea placeholder="@Model.Value("messagePlaceHolder")" id="message" name="message" tabindex="5" required></textarea>
                    </div>
                    <button style="cursor:pointer;" type="submit" name="submit" id="contact-submit" data-submit="...Sending"> @Model.Value("send")</button>
                    <h4 id="success-message" style="color:green;margin-top:20px;display:none;">@Model.Value("SuccessMessage")</h4>
                </form>
            </div>
            <div class="info-col">
                <h3>@Model.Value("contactInfo")</h3>
                <div class="br-line"></div>
                <br>
                <ul class="contact-ul">
                    <li><img src="/img/loc.png"> @Model.Value("address")</li>

                    <li>
                        <img src="/img/ph.png">
                        <a href="tel:@Model.Value("contactNumber")"> @Model.Value("contactNumber")</a>
                    </li>
                    
                    <li><img src="/img/mail.png">
                        <a href="mailto:@Model.Value("emailId")" id="toEmail">@Model.Value("emailId")</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        const form = document.getElementById('contact');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            /*const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const subject = document.getElementById('subject').value;
            const message = document.getElementById('message').value;
            const toEmail = document.getElementById('toEmail').innerHTML;
            window.location.href = "mailto:" + toEmail + "?subject=" + subject + "&body=" + message;*/
            sendEmail();
        })
        function sendEmail() {
            const name = document.getElementById('name').value;
            const email = document.getElementById('email').value;
            const subject = document.getElementById('subject').value;
            const message = document.getElementById('message').value;
            const body = {
                name: name,
                email: email,
                subject: subject,
                message: message,
                from: email,
                to: 'info@bisonder.be',
            };
            console.log('body >>>', body);
            const response = fetch('https://dev.goodmealtime.com/email-sender/sendmail', {
                method: 'POST',
                body: JSON.stringify(body),
                headers: {
                    'Content-Type': 'application/json',
                    'Access-Control-Allow-Origin': '*'
                }
            }).then((res) => {
                console.log('res >>>', res);
                document.getElementById('success-message').style.display="block";
                document.getElementById('name').value = "";
                document.getElementById('email').value = "";
                document.getElementById('subject').value = "";
                document.getElementById('message').value = "";
            })
            // Email.send({
            //     Host: "smtp.elasticemail.com",
            //     Port: 2525,
            //     Username: "info@bisonder.be",
            //     Password: "C70065BAE7A812578120700DB1304499F4F6",
            //     To: 'bert@webshopcompany.be',
            //     Bcc: 'info@webshopcompany.be',
            //     From: `"${name}" <${email}>`,
            //     Subject: subject,
            //     Body: message,
            // })
            // .then(function (message) {
            //     //alert("mail sent successfully")
            //     document.getElementById('success-message').style.display="block";
            // });
            }

    </script>
@{
    
}
