@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="Huisre-section pad60">
    <div class="container">
        <div class="locatie-hd">
            <h2 class="bigheading" style="margin-bottom: 30px;">@Umbraco.GetDictionaryValue("location.env","Accommodatie-omgeving")</h2>
            <div class="br-line"></div>
        </div>
        <div class="main_outer_locatie">
            <div class="left-locatie">
                <div class="hd-locatie">
                    <p><img src="/icons/svg187.svg" alt="svg187">@Umbraco.GetDictionaryValue("location.env.nearby"," Wat is er in de buurt?")</p>
                </div>
                <div class="hd-locatie-text">
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby1","Modell Flight Limburg Hees-Bilzen ")<span>2,1 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby2","Modell Flight Limburg ")<span>2,1 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby3","Wilderpark ")<span>3,3 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby4","Kesseltse Kip ")<span>4 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby5","Engelse Tuin ")<span>4,1 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby6","Warande Heilig Graf ")<span>4,8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby7","Park van Haffmans ")<span>4,8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby8","Park Petry ")<span>5 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby9","Demervallei ")<span>5 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.nearby10","Dingemanspark ")<span>6 km</span></p>

                </div>
            </div>
            <div class="center-locatie">
                <div class="hd-locatie">
                    <p><img src="/icons/svg5.svg" alt="svg5">@Umbraco.GetDictionaryValue("location.env.attraction","Topattracties")</p>
                </div>
                <div class="hd-locatie-text">
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction1","Natuurhistorisch Museum Maastricht ")<span>8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction2","Vrijthof ")<span>8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction3","Museum aan het Vrijthof ")<span>8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction4","Onze Lieve Vrouweplein ")<span>8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction5","Sint Servaasbrug ")<span>8 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction6","Bonnefantenmuseum ")<span>9 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction7","Kasteel van Gronsveld ")<span>11 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction8","Kasteel van Rijckholt ")<span>12 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction9","C-Mine ")<span>16 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.attraction10","Hasselt Market Square ")<span>19 km</span></p>

                </div>
            </div>
            <div class="right-locatie">
                <div class="hd-locatie">
                    <p><img src="/icons/svg192.svg" alt="svg192"> @Umbraco.GetDictionaryValue("location.env.airport","Dichtstbijzijnde luchthavens")</p>
                </div>
                <div class="hd-locatie-text">
                    <p>@Umbraco.GetDictionaryValue("location.env.airport1","Luchthaven Maastricht-Aachen ")<span>16 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.airport2","Luchthaven Luik-Bierset ")<span>25 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.airport3","NAVO-vliegbasis Geilenkirchen ")<span>35 km</span></p>


                </div>
            </div>
        </div>
        <div class="main_outer_locatie">
            <div class="left-locatie">
                <div class="hd-locatie">
                    <p><img src="/icons/svg188.svg" alt="svg188"> @Umbraco.GetDictionaryValue("location.env.cafe","Restaurants & cafés")</p>
                </div>
                <div class="hd-locatie-text">
                    <p>@Umbraco.GetDictionaryValue("location.env.bar","Café/bar") - @Umbraco.GetDictionaryValue("location.env.cafe1","Café Bij Guske")</b> <span>20m</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.rstraunt","Restaurant") - @Umbraco.GetDictionaryValue("location.env.cafe2","Brasserie Ons Gedacht")</b> <span>250 m</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.rstraunt","Restaurant") - @Umbraco.GetDictionaryValue("location.env.cafe3","Frituur De Loopbrug")</b> <span>700 m</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.bar","Café/bar") - @Umbraco.GetDictionaryValue("location.env.cafe4","Café De Lantaarn")</b> <span>1,6 km</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.bar","Café/bar") - @Umbraco.GetDictionaryValue("location.env.cafe5","Mheercafé")</b> <span>250 m</span></p>
                    <p>@Umbraco.GetDictionaryValue("location.env.rstraunt","Restaurant") - @Umbraco.GetDictionaryValue("location.env.cafe6","Frituur Christel")</b> <span>3,4 km</span></p>
                </div>
            </div>
            <div class="center-locatie">
                <div class="hd-locatie">
                    <p><img src="/icons/svg190.svg" alt="svg190"> Skiliften</p>
                </div>
                <div class="hd-locatie-text">
                    <p>SnowWorld Lift I <span>31 km</span></p>
                    <p>SnowWorld Lift II <span>31 km</span></p>
                    <p>SnowWorld Chairlift <span>31 km</span></p>
                </div>
            </div>
            <div class="right-locatie"></div>
        </div>
        <p class="alle-p">@Umbraco.GetDictionaryValue("location.env.caution","*Alle afstanden zijn gemeten in vogelvlucht. De werkelijke reisafstand kan afwijken.")</p>
    </div>
</section>