@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="Faciliteiten-section pad60">
    <div class="container">
        <div class="locatie-hd">
            <h2 class="bigheading" style="margin-bottom: 30px;">@Umbraco.GetDictionaryValue("house.mainhead","THE HOUSE")
            </h2>
            <div class="br-line"></div>
            <br>
            <p>@Umbraco.GetDictionaryValue("house.txt","Our new-build home was fully built in 2020 with great attention to comfort, sustainability and living pleasure. We have tried to preserve as many authentic elements as possible and to make innovations where necessary.")
            </p>
        </div>
        <div class="inner-faci">
            <div class="faci-col-left">
                <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.simply","SIMPLY")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.simply1","Activity room with ping pong table and table football")</li>
                    <li>@Umbraco.GetDictionaryValue("house.simply2","Ample space for storing bicycles")</li>
                </ul>
                <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.garden","GARDEN AT FLOOR 1 LEVEL")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.garden1","Breakfast terrace with table and chairs")</li>
                    <li>@Umbraco.GetDictionaryValue("house.garden2","Afternoon terrace with table and chairs and sun umbrella")</li>
                    <li>@Umbraco.GetDictionaryValue("house.garden3","Sun terrace equipped with some sun loungers and a modern seating area")</li>
                    <li>@Umbraco.GetDictionaryValue("house.garden4","Play lawn 400m²")</li>
                </ul>
                <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.extra","EXTRA INFO")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.extra1","Not suitable for parties with a lot of noise.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.extra2","Smoking prohibited inside the house.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.extra3","Small pets (in consultation) welcome.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.extra4","Free unlimited WIFI")</li>
                </ul>
            </div>
            <div class="faci-col-cntr">
               <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.deep","DEEP 1")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.deep1","New open kitchen equipped with island, fridge, induction hob, oven, microwave, dishwasher, coffee maker, hood and all necessary kitchen utensils")</li>
                    <li>@Umbraco.GetDictionaryValue("house.deep2","Cozy living room, equipped with comfortable sofas, flat screen TV, large windows overlooking the garden.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.deep3","You have access to the garden through the large sliding window in the living room.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.deep4","Bathroom : spacious walk-in shower, 2 sinks with large round mirrors")</li>
                    <li>@Umbraco.GetDictionaryValue("house.deep5","Apart toilet")</li>
                </ul>
                   <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.price","PRICES")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.price1","Friday 5:00 PM - Sunday 12:00 PM : €600")</li>
                    <li>@Umbraco.GetDictionaryValue("house.price2","Friday 5:00 PM - Monday 12:00 AM : €750")</li>
                    <li>@Umbraco.GetDictionaryValue("house.price3","Midweek prices : €400 (2 nights)")</li>
                </ul>
                <ul class="faci-ul">
                    <li>@Umbraco.GetDictionaryValue("house.price4","Check-in : between 5:00 PM and 6:00 PM")</li>
                    <li>@Umbraco.GetDictionaryValue("house.price5","Check-out : before 12:00 pm.")</li>
                    <li>@Umbraco.GetDictionaryValue("house.price6","A deposit of €250 is required")</li>
                </ul>
            </div>

            <div class="faci-col-rght">
                <ul class="faci-ul">
                    <h3 class="hd-locatie">@Umbraco.GetDictionaryValue("house.dep","DEEP 2")</h3>
                    <li>@Umbraco.GetDictionaryValue("house.dep1","Bedroom 1: 2 box spring beds, bunk bed and closet")</li>
                    <li>@Umbraco.GetDictionaryValue("house.dep2","Bedroom 2 : 2 box spring beds and closet")</li>
                    <li>@Umbraco.GetDictionaryValue("house.dep3","Bedroom 3: Double box spring with cupboard")</li>
                    <li>@Umbraco.GetDictionaryValue("house.dep4","Bathroom : spacious walk-in shower, 2 sinks with large round mirrors")</li>
                    <li>@Umbraco.GetDictionaryValue("house.dep5","Apart toilet")</li>
                </ul>
            </div>
        </div>
    </div>
</section>