@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
<section class="jasiane-section pad60">
  <div class="container d-flex">
    <div class="col-jasi">
      <div class="jasi-img">
        <img src="/img/jasiane.png">
        <div class="nm-hd">
          <h4>Josiane Hermans <span>Jouw host</span></h4>
        </div>
      </div>
      <p>@Umbraco.GetDictionaryValue("info.about.title","Fijn dat onze vakantiewoning uw aandacht trekt! ")</p>
      <br>
      <p>@Umbraco.GetDictionaryValue("info.about.desc1","Vakantiewoning ‘Bisonder’ bevindt zich aan de rand van het gezellige stadje ‘Bilzen’ in het Limburgse Haspengouw. Bilzen heeft vele toeristische troeven. De website 'Visit Bilzen' laat u alle momenten van het jaar kennis maken met het rijke aanbod in onze onmiddellijke omgeving. ")</p>
      <br>
      <p>@Umbraco.GetDictionaryValue("info.about.desc2","Het vakantiehuis biedt slaapgelegenheid voor maximaal 8 personen. U beschikt over 3 slaapkamers, waarvan 1 grote kamer uitgerust is met een ruim stapelbed voor 2 personen, en een zetelbed in de living.")
      </p>
    </div>
    <div class="jasi-right">
      <p>@Umbraco.GetDictionaryValue("info.about.desc3","Het woongedeelte heeft een modern uitgeruste keuken, met vaatwasser, magnetron en een gril. Het ruime zitgedeelte heeft een flatscreen TV. Natuurlijk heeft U overal toegang tot WIFI. Onze 5-sterrenaccommodatie heeft 2 badkamers en een infraroodsauna. Gasten van vakantiewoning Bisonder kunnen genieten van een ontbijtterras, een middag- en een zonneterras. Fietsen kunnen ‘veilig’ geborgen worden in de activiteitengarage die voorzien is van een pingpong tafel en een tafelvoetbalspel.")
      </p> <br>
      <p>@Umbraco.GetDictionaryValue("info.about.desc4","Door het heuvelachtige karakter heeft de woning meerdere niveaus. Daardoor is de woning niet geschikt voor mindervaliden. ")</p>
      <p>@Umbraco.GetDictionaryValue("info.about.desc5","Voor het gebouw is voldoende ruimte om 3 voertuigen te parkeren. Bovendien bevindt zich op loopafstand een parking.") </p>
    </div>
  </div>

</section>